body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #3498db, #2c3e50);
}

nav, main, footer {
    color: #fff;
    background: #31d9a5;
}

header {
    padding: 10px;
    background: #1a2865;
    text-align: center; /* Para centrar el h1 */
}

.container {
    display: flex;
    justify-content: space-between; /* Para separar el logo a la izquierda y el h1 al centro */
    align-items: center;
    color: #FEB81C;
    width: 60%;
}

.logo {
    position: relative;
    width: 15%; /* Ajusta el tamaño de la imagen según necesites */
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30px;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-around;
}

.iYuuei{
    width: 100%;
}

.iQuirk{
    width: 100%;
}

.iFisico, .iRescate, .iVillanos{
    width: 100%;
    border-style: solid;
    border-width: 2px;
}

.iFisico:hover, .iQuirk:hover, .iRescate:hover, .iVillanos:hover{
    transition: transform 0.3s;
    transform: scale(1.1);
}

.programas, .proyectos {
    background: linear-gradient(to right, #f1c40f, #f39c12);
    padding: 5%;
    flex: 1;
    margin-bottom: 20px;
    display: inline-block;
    overflow: hidden;
}

.video{
    display: flex;
    align-items: center;
    flex-direction: column;
}

div a{
    text-decoration: none;
    color: #FEB81C;
}

footer {
    background: linear-gradient(to right, #273747, #435e79);
    text-align: center;
    padding: 10px;
}
